.container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.contenido {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.linea {
  background-color: silver;
  height: 0.2rem;
  padding: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sectionUltimasReservas,
.sectionLosMasPedidos {
  margin-top: 100px;
}

.booksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book {
  flex-basis: calc(50% - 20px);
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 279px;
  height: 253px;
  top: 254px;
  left: 187px;
  position: absolute;
}
