.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.main {
  height: 100%;
  display: flex;
}

.contenido {
  color: #6750A4;
  flex: 1;
  padding: 20px;
  background-color: #fef7ff;
  border-radius: 0.4rem;
}

.containerTitulo {
  display: flex;
  justify-content: space-between;
}

.titulo {
  color: black;
  width: 50%;
  margin: 0px;
}

.linea {
  width: 100%;
  height: 2px;
  background-color: silver;
  margin-bottom: 20px;
}

.selector {
  text-align: center;
}

.button-group {
  margin-bottom: 20px;
}

.button-group .btn {
  background-color: #6750a4;
  color: white;
  border: none;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 0.4rem;
  cursor: pointer;
}

.button-group .btn.active {
  background-color: #79747e;
}

.input1 {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 820px;
}

.input1 .input-group {
  margin-bottom: 10px;
}

.input1 .input-group:last-child {
  margin-bottom: 0;
}

.guardar {
  text-align: center;
}

.guardar button {
  background-color: #6750a4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.4rem;
}

.datos-personales-btn,
.cuenta-btn {
  background-color: #6750a4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 5px;
}

.datos-personales-btn.active,
.cuenta-btn.active {
  background-color: #79747e;
}

.profile-image {
    width: 279px;
    height: 253px;
    top: 254px;
    left: 187px;
    position: absolute;
}
