.container {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #FFFFFF;
}

.h1_1,
.h1_2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.h1_2 {
  margin-bottom: 0;
}

.content {
  color: #6750A4;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 9px;
}

.leftContent,
.rightContent {
  width: 45%;
}

.input1 {
  margin-bottom: 8px;
  text-align: left;
}

.input1 input[type="text"],
.input1 input[type="email"],
.input1 input[type="password"] {
  width: 100%;
  padding: 16px;
  font-size: 16px;
}

.h5_1 {
  font-size: 16px;
  font-weight: 400;
  color: #6750A4;
  margin-bottom: 6px;
}

.divBtn {
  text-align: center;
  margin-top: 20px;
}

.registrar {
  width: 100%;
  height: 55px;
  background: #E8DEF8;
  border: none;
  border-radius: 25px;
  color: #1D192B;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.registrar:hover {
  background: #6750A4;
  color: #FFFFFF;
}
