.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

.main{

    height: 100%;
    display: flex;
}

.contenido{
    
    width: 100%;
}

.sectionUltimasReservas{
    background-color: #e5e5f7;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
}

.sectionLosMasPedidos{
    background-color: #e5e5f7;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.booksContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio horizontal entre los libros */
  }

  .book {
    flex: 0 1 calc(50% - 20px); /* Divide el contenedor en 2 columnas con margen */
    padding: 10px;
    border: 1px solid #ccc;
  }
