.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .main {
    height: 100%;
    display: flex;
  }
  
  .contenido {
    width: 100%;
    padding: 2rem;
    height: auto;
  }
  
  .titulo {
    width: 50%;
    margin: 0px;
  }
  
  .containerTitulo {
    display: flex;
    justify-content: space-between;
  }
  
  .titulo2 {
    margin-bottom: 2rem;
  }
  
  .linea {
    background-color: silver;
    height: 0.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .input1 {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 820px;
    color: #6750A4;
    flex: 1;
    padding: 20px;
    background-color: #fef7ff;
    border-radius: 0.4rem;
  }
  
  .selector {
    margin-left: 850px;
  }
  
  .guardar {
    margin-left: 900px;
  }
  
  .guardar button,
  .selector button {
    background-color: #6750a4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.4rem;
  }
  