.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  display: flex;
}

.contenido {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.containerTitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titulo {
  font-size: 24px;
  color: #333;
}

.nuevoRecursoBtn {
  padding: 10px 20px;
  background-color: #6750a4;
  color: #fff;
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.nuevoRecursoBtn:hover {
  background-color: #542c85;
}

.linea {
  height: 2px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.buscar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inputBusqueda {
  flex: 1;
  padding: 10px;
  border: 1px solid #6750a4;
  border-radius: 4px;
  margin-right: 10px;
}

.boton {
  background-color: #6750a4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.boton:hover {
  background-color: #542c85;
}

.librosContainer {
  display: flex;
  justify-content: space-between;
}

.libro {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
}

.circulo {
  width: 40px;
  height: 40px;
  background-color: #6750a4;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.libro h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.libro img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.libro p {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.reservarBtn,
.boton2 {
  background-color: #6750a4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.reservarBtn:hover,
.boton2:hover {
  background-color: #542c85;
}
